<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">search</i>
                    </div>
                    <h4 class="card-title">Criterios de Búsqueda</h4>
                </div>
                <div class="card-body">
                    <form  [formGroup]="productForm" method="#" action="#">
                        <div class="row">                        
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="margin-right: 20px;">Tipo: </label>
                                    <select class="browser-default custom-select" formControlName="idTipoProducto" >
                                        <option value="0">Seleccione la opción</option>
                                        <option *ngFor="let tp of typeProducts" value="{{ tp.iD_TIPO_PRODUCTO }}"> {{ tp.descripcion }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="examplePass" class="bmd-label-floating">Nombre</label>
                                    <input type="text" class="form-control" id="examplePass" formControlName="nombre"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleEmail" class="bmd-label-floating">Sabor</label>
                                    <input type="email" class="form-control" id="exampleEmail" formControlName="sabor"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-fill btn-danger" (click)="getProductByCriterio()">Buscar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div  style="float: right;">
                <button type="submit" class="btn btn-fill btn-info" routerLink='/productos-nuevo'>Nuevo</button>
            </div>
        </div>
    </div>
                                      
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Listado de Productos</h4>
                </div>
                
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                    <th>Precio sugerido</th>
                                    <th>Sabor</th>
                                    <th>Tipo</th>
                                    <th class="disabled-sorting text-right">Acciones</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Descripcion</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                    <th>Precio sugerido</th>
                                    <th>Sabor</th>
                                    <th>Tipo</th>
                                    <th class="text-right">Acciones</th>
                                </tr>
                            </tfoot>
                            <tbody *ngIf="products[0] != null">
                                <tr *ngFor="let p of products">
                                    <td>{{ p.nombre }}</td>
                                    <td>{{ p.descripcion }}</td>
                                    <td>{{ p.stock }}</td>
                                    <td>{{ p.precio }}</td>
                                    <td>{{ p.preciO_SUGERIDO }}</td>
                                    <td>{{ p.sabor }}</td>
                                    <td>{{ p.iD_TIPO_PRODUCTO }}</td>
                                    <td class="text-right">
                                        <a routerLink='/productos-edicion/{{p.iD_PRODUCTO}}' rel="tooltip" class="btn btn-link btn-success btn-just-icon edit"><i class="material-icons">edit</i></a>
                                        <a (click)="delete_product(p.iD_PRODUCTO)" rel="tooltip" class="btn btn-link btn-danger btn-just-icon close"><i class="material-icons">close</i></a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>
    <!-- end row -->
</div>
