<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">search</i>
                </div>
                <h4 class="card-title">Criterios de Búsqueda</h4>
            </div>
            <div class="card-body">
                <form  [formGroup]="UsuariosForm" method="#" action="#">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="examplePass" class="bmd-label-floating">Nombre</label>
                                <input type="text" class="form-control" id="examplePass" formControlName="nombre"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">Apellido</label>
                                <input type="email" class="form-control" id="exampleEmail" formControlName="apellidO_PATERNO"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleEmail" class="bmd-label-floating">DNI</label>
                                <input type="email" class="form-control" id="exampleEmail" formControlName="numerO_DOCUMENTO"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-fill btn-danger" (click)="getUsuarioByCriterio()">Buscar</button>
            </div></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div  style="float: right;">
            <button type="submit" class="btn btn-fill btn-info" routerLink='/usuario-nuevo'>Nuevo</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Listado de Usuarios</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Celular</th>
                                <th>Direccion</th>
                                <th>N° Documento</th>
                                <th class="disabled-sorting text-right">Acciones</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Celular</th>
                                <th>Direccion</th>
                                <th>N° Documento</th>
                                <th class="text-right">Acciones</th>
                            </tr>
                        </tfoot>
                        <tbody *ngIf="usuarios[0] != null">
                            <tr *ngFor="let p of usuarios">
                                <td>{{ p.nombre }}</td>
                                <td>{{ p.apellidO_PATERNO }}</td>
                                <td>{{ p.celular }}</td>
                                <td>{{ p.direccion }}</td>
                                <td>{{ p.numerO_DOCUMENTO }}</td>
                                <td class="text-right">
                                    <a routerLink='/usuario-edicion/{{p.iD_USUARIO}}' rel="tooltip" class="btn btn-link btn-success btn-just-icon edit"><i class="material-icons">edit</i></a>
                                    <a (click)="delete_usuario(p.iD_USUARIO)" rel="tooltip" class="btn btn-link btn-danger btn-just-icon close"><i class="material-icons">close</i></a>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>