<div class="wrapper" *ngIf="loginService.estaLogeado()">
  
  <div class="sidebar" data-color="danger" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
     <div class="logo"><a href="http://www.creative-tim.com/" class="simple-text logo-mini">
        DL
        </a>
        <a href="http://www.creative-tim.com/" class="simple-text logo-normal">
        Pasteleria D'Lyu
        </a>
     </div>
     <div class="sidebar-wrapper">
        <div class="user">
           <div class="photo">
              <img src="../assets/img/faces/avatar.jpg" />
           </div>
           <div class="user-info">
              <a data-toggle="collapse" href="#collapseExample" class="username">
              <span>
              Christian Rodriguez
              <b class="caret"></b>
              </span>
              </a>
              <div class="collapse" id="collapseExample">
                 <ul class="nav">
                    <li class="nav-item">
                       <a class="nav-link" href="#">
                       <span class="sidebar-mini"> MP </span>
                       <span class="sidebar-normal"> My Profile </span>
                       </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#">
                       <span class="sidebar-mini"> EP </span>
                       <span class="sidebar-normal"> Edit Profile </span>
                       </a>
                    </li>
                    <li class="nav-item">
                       <a class="nav-link" href="#">
                       <span class="sidebar-mini"> S </span>
                       <span class="sidebar-normal"> Settings </span>
                       </a>
                    </li>
                 </ul>
              </div>
           </div>
        </div>
        <ul class="nav">
           <li class="nav-item active ">
              <a class="nav-link" href="inicio">
                 <i class="material-icons">dashboard</i>
                 <p> Inicio </p>
              </a>
           </li>
           <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                 <i class="material-icons">content_paste</i>
                 <p> Mantenimiento
                    <b class="caret"></b>
                 </p>
              </a>
              <div class="collapse" id="formsExamples">
                 <ul class="nav">
                    <li class="nav-item ">
                       <a class="nav-link" href="productos">
                       <span class="sidebar-mini"> MP </span>
                       <span class="sidebar-normal"> Productos </span>
                       </a>
                    </li>
                    <li class="nav-item ">
                       <a class="nav-link" href="tipo-productos">
                       <span class="sidebar-mini"> MTP </span>
                       <span class="sidebar-normal"> Tipo Productos </span>
                       </a>
                    </li>
                    <li class="nav-item ">
                       <a class="nav-link" href="usuarios">
                       <span class="sidebar-mini"> MU </span>
                       <span class="sidebar-normal"> Usuarios </span>
                       </a>
                    </li>
                 </ul>
              </div>
           </li>
           <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#tablesExamples">
                 <i class="material-icons">grid_on</i>
                 <p> Reportes
                    <b class="caret"></b>
                 </p>
              </a>
              <div class="collapse" id="tablesExamples">
                 <ul class="nav">
                    <li class="nav-item ">
                       <a class="nav-link" href="tables/regular.html">
                       <span class="sidebar-mini"> RV </span>
                       <span class="sidebar-normal"> Ventas </span>
                       </a>
                    </li>
                    <li class="nav-item ">
                       <a class="nav-link" href="tables/extended.html">
                       <span class="sidebar-mini"> RPV </span>
                       <span class="sidebar-normal"> Productos mas vendidos </span>
                       </a>
                    </li>
                    <li class="nav-item ">
                       <a class="nav-link" href="tables/datatables.net.html">
                       <span class="sidebar-mini"> RVC </span>
                       <span class="sidebar-normal"> Ventas por Cliente </span>
                       </a>
                    </li>
                 </ul>
              </div>
           </li>
        </ul>
     </div>
     <div class="sidebar-background"></div>
  </div>
  <div class="main-panel">
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
           <div class="navbar-wrapper">
              <div class="navbar-minimize">
                 <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                 <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                 <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                 </button>
              </div>
              <a class="navbar-brand" href="javascript:;">Dashboard</a>
           </div>
           <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
           <span class="sr-only">Toggle navigation</span>
           <span class="navbar-toggler-icon icon-bar"></span>
           <span class="navbar-toggler-icon icon-bar"></span>
           <span class="navbar-toggler-icon icon-bar"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-end">
              <ul class="navbar-nav">
                 <li class="nav-item dropdown">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <i class="material-icons">person</i>
                       <p class="d-lg-none d-md-block">
                          Account
                       </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                       <a class="dropdown-item" href="#">Profile</a>
                       <a class="dropdown-item" href="#">Settings</a>
                       <div class="dropdown-divider"></div>
                       <a class="dropdown-item" href="#">Log out</a>
                    </div>
                 </li>
              </ul>
           </div>
        </div>
     </nav>
     <!-- End Navbar -->

     <div class="content">
        <router-outlet></router-outlet>
     </div>
     <footer class="footer">
        <div class="container-fluid">
           <nav class="float-left">
              <ul>
                 <li>
                    <a href="https://www.creative-tim.com/">
                    Creative Tim
                    </a>
                 </li>
                 <li>
                    <a href="https://creative-tim.com/presentation">
                    About Us
                    </a>
                 </li>
                 <li>
                    <a href="http://blog.creative-tim.com/">
                    Blog
                    </a>
                 </li>
                 <li>
                    <a href="https://www.creative-tim.com/license">
                    Licenses
                    </a>
                 </li>
              </ul>
           </nav>
           <div class="copyright float-right">
              &copy;
              <script>
                 document.write(new Date().getFullYear())
              </script>, made with <i class="material-icons">favorite</i> by
              <a href="https://www.creative-tim.com/" target="_blank">Creative Tim</a> for a better web.
           </div>
        </div>
     </footer>
  </div>
</div>
<div *ngIf="!loginService.estaLogeado()">
  <router-outlet></router-outlet>
</div>