 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Ingrese los datos del producto</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="productForm" action="#">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="margin-right: 20px;">Tipo: </label>
                                    <select class="browser-default custom-select" formControlName="iD_TIPO_PRODUCTO" >
                                        <option value="0">Seleccione la opción</option>
                                        <option *ngFor="let tp of typeProducts" value="{{ tp.iD_TIPO_PRODUCTO }}"> {{ tp.descripcion }} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="fg-nombre" >
                                    <label for="examplePass"  class="bmd-label-floating">Nombre</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="nombre" />
                                </div>
                            </div>                        
                            <div class="col-md-6">
                                <div class="form-group" id="fg-descripcion" >
                                    <label for="examplePass" class="bmd-label-floating">Descripcion</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="descripcion" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="fg-precio" >
                                    <label for="exampleEmail" class="bmd-label-floating">Precio</label>
                                    <input type="number" class="form-control" id="exampleEmail"  formControlName="precio" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="fg-precio-sugerido">
                                    <label for="examplePass" class="bmd-label-floating">Precio sugerido</label>
                                    <input type="number" class="form-control" id="examplePass"  formControlName="preciO_SUGERIDO" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="fg-stock">
                                    <label for="examplePass" class="bmd-label-floating">Stock</label>
                                    <input type="number" class="form-control" id="examplePass"  formControlName="stock" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="fg-sabor">
                                    <label for="examplePass" class="bmd-label-floating">Sabor</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="sabor" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-fill btn-danger" routerLink='/productos'>Cancelar</button>
                    <button type="button" class="btn btn-fill btn-success" (click)="onSubmit()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
