<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h4 class="card-title">Ingrese los datos del usuario</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="UsuarioForm" action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="margin-right: 20px;">Tipo: </label>
                                    <select class="browser-default custom-select" formControlName="iD_TIPO_DOCUMENTO" >
                                        <option value="0">Seleccione la opción</option>
                                        <option *ngFor="let tp of tipodocumento" value="{{ tp.id_tipo_documento }}"> {{ tp.descripcion }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="bmd-label-floating" style="margin-right: 20px;"></label>
                                <div class="form-group" id="fg-NUMERO_DOCUMENTO" >
                                    <label for="examplePass"  class="bmd-label-floating">N° Documento</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="numerO_DOCUMENTO" />
                                </div>
                            </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="fg-NOMBRE" >
                                    <label for="examplePass"  class="bmd-label-floating">Nombre</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="nombre" />
                                </div>
                            </div>                        
                            <div class="col-md-4">
                                <div class="form-group" id="fg-APELLIDO_PATERNO" >
                                    <label for="examplePass" class="bmd-label-floating">Apellido Paterno</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="apellidO_PATERNO" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="fg-APELLIDO_MATERNO" >
                                    <label for="examplePass" class="bmd-label-floating">Apellido Materno</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="apellidO_MATERNO" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="bmd-label-floating" style="margin-right: 20px;"></label>
                                <div class="form-group" id="fg-CELULAR" >
                                    <label for="examplePass"  class="bmd-label-floating">Celular</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="celular" />
                                </div>
                            </div>                        
                            <div class="col-md-4">
                                <div class="form-group" id="fg-descripcion" >
                                    <label class="bmd-label-floating" style="margin-right: 20px;">Distrito: </label>
                                    <select class="browser-default custom-select" formControlName="iD_DISTRITO" >
                                        <option value="0">Seleccione la opción</option>
                                        <option *ngFor="let tp of distrito" value="{{ tp.id_distrito }}"> {{ tp.descripcion }} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="bmd-label-floating" style="margin-right: 20px;"></label>
                                <div class="form-group" id="fg-DIRECCION" >
                                    <label for="examplePass" class="bmd-label-floating">Direccion</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="direccion" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group" id="fg-CORREO" >
                                    <label for="examplePass"  class="bmd-label-floating">Correo</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="correo" />
                                </div>
                            </div>                        
                            <div class="col-md-4">
                                <div class="form-group" id="fg-CONTRASENA" >
                                    <label for="examplePass" class="bmd-label-floating">Contraseña</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="contrasena" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" id="fg-GENERO" >
                                    <label for="examplePass" class="bmd-label-floating">Genero</label>
                                    <input type="text" class="form-control" id="examplePass"  formControlName="genero" />
                                </div>
                            </div>
                        </div>  
                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-fill btn-danger" routerLink='/usuarios'>Cancelar</button>
                    <button type="button" class="btn btn-fill btn-success" (click)="onSubmit()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>